.body{
    position: relative;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(to top, #020d18, #0080ff1a 25%)
}
.img{
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}