.body{
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.form{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    min-width: 300px;
    display: flex;
    max-width: 1400px;
}
.input, .submit{
    background: #233a50;
    border: 2px solid #428bca;
    /* color: #428bca; */
    color: #abb7c4;
}
.input{
    padding: 10px 15px;
    flex: 1;
    outline: none;
}
.submit{
    padding: 0 15px;
}